#outer-container {
	padding: 2.5rem;
	gap: 4rem;
}

#inner-container {
	gap: 2rem;
}

#trip {
	gap: 0.5rem;
}

#fuel {
	gap: 1rem;
}

#price {
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	text-align: center;
	font-size: 3rem;
	margin: 0;
}

.col {
	display: flex;
	flex-direction: column;
}
